// $primary: #030303;
// $secondary: #0b0b0b;

// $white: #aaa !default;
// $gray-100: #999 !default;
// $gray-200: #777 !default;
// $gray-300: #454545 !default;
// $gray-400: #353535 !default;
// $gray-500: #323232 !default;
// $gray-600: #202020 !default;
// $gray-700: #151515 !default;
// $gray-800: #101010 !default;
// $gray-900: #050505 !default;
// $black: #000 !default;
// $focus-ring-box-shadow: none;
// $green: #01c201;
// $red: #ff071f;

// $btn-danger-color: #fff;
// $btn-success-color: #fff;

// [data-bs-theme="dark"] {
//     --bs-body-color: #{$white};
//     --bs-heading-color: #{$white};
// }

// body {
//     color: $white
// }

// $input-focus-border-color: $gray-300 !default;
// $input-focus-color: $input-color !default;
// $input-focus-width: $input-btn-focus-width !default;
// $input-focus-box-shadow: $input-btn-focus-box-shadow !default;
// 

// $link-color: $gray-400 !default;

$font-family-sans-serif: "Montserrat" !default;
$font-size-base: .85rem;
$table-cell-vertical-align: middle !default;